#mng-cont {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

#seller-mng-cont-up {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 16px;
}

table {
  width: 100%;
}
